// ::ng-deep .mat-dialog-container{padding: 0;}
.scrollable-content {
  // max-height : 85vh;
  margin     : 0;
  // padding    : 0;
  display    : flex;
  align-items: center;
  // overflow-y: auto;
  // overflow-x: hidden;

  mat-dialog-content.component-dialog {
    overflow  : hidden;
    padding   : 0;
    margin    : 0;
    overflow  : inherit;
    max-height: 80vh;
    padding   : 0 10px;
    width: 100%;
  }
}
