.product-container {
    position: relative;
    padding: 10px;
    padding-bottom: 50px;
    .searchbar {
        position: absolute;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 15px;
        right: 10px;
        .btn-add {
            font-weight: 500;
        }
    }
    .table-main > table  {
        margin-top: 55px;
        width: 100%;
        .mat-column-title {
            padding: 0 15px;
            min-width: 280px;
        }
        .mat-column-price {
            min-width: 80px;
        }
        .mat-column-description {
            min-width: 350px;
            padding: 0 15px;
        }
        .mat-column-image {
            padding: 0 15px;
        }
    }
}