<h2 mat-dialog-title>{{formType}} Product</h2>

<mat-dialog-content>

  <form [formGroup]="form" class="form-container">

    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput placeholder="Enter Title" formControlName="title">
        <mat-error>Field is required.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput type="number" placeholder="Enter Price" formControlName="price">
        <mat-error>Field is required.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Category</mat-label>
        <input matInput placeholder="Enter Category" formControlName="category">
        <mat-error>Field is required.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput placeholder="Enter Description" formControlName="description">
        <mat-error>Field is required.</mat-error>
      </mat-form-field>

  </form>


</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" type="button" [disabled]="form.invalid" (click)="onSubmit()">{{formType}}</button>
  <button mat-stroked-button color="primary" type="button" (click)="onCancel()">Cancel</button>
</mat-dialog-actions>